




<header class="main-header navbar">
  <div class="col-search">
    
  </div>
  <div class="col-nav">
    <button
      class="btn btn-icon btn-mobile me-auto"
      data-trigger="#offcanvas_aside"
    >
      <i class="material-icons md-apps"></i>
    </button>
    <ul class="nav">
    
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle"  style="background-color:  #088178;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    <% if ( locals.admins) { %>
      <%=admins.Name %>
      <%} else { %>
      Account 
      <% } %>

  
   
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <% if (locals.admins) { %>
   <a class="dropdown-item" href="/admin/logout"> log out</a></li>
    <%} else { %>
  <li><a class="dropdown-item" href="/admin/login"> log in</a></li>
  <% } %>
</ul>
</div>
    </ul>
  </div>
</header>

